@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<h2>Yeni Kategori Ekleme Sayfası</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı");
        @Html.TextAreaFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x=>x.CategoryName)
        <br />
        <br />
        @Html.Label("Açıklamayı Yazınız");
        @Html.TextBoxFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x=>x.CategoryDescription)
        <br /> <br />
        <button>Kaydet</button>
    </div>
}
@*<form class="form-group" method="post">
    <input type="text" class="form-control" placeholder="Kategori Adı" name="CategoryName" /><br />
   
    <br />  <input type="text" class="form-control" placeholder="Açıklama Giriniz" name="CategoryDescription" /><br />
    <button class="btn btn-info">Durum Ekle</button>

</form>*@